{
    "extends": ["next/core-web-vitals", "prettier"],
    "plugins": ["prettier"],
    "overrides": [
        {
            // Adapt to your needs (e.g. some might want to only override "next.config.js")
            "files": ["*.js"],
            // This is the default parser of ESLint
            "parserOptions": {
                "ecmaVersion": 2020
            }
        }
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "ts": "never",
                "tsx": "never",
                "": "never"
            }
        ]
        // "import/no-unresolved": "off",
        // "no-restricted-exports": 0
    },
    "ignorePatterns": ["node_modules/", ".next/"]
}
